# ml2_conf.ini

[ovs]
ovsdb_connection = tcp:127.0.0.1:6640
enable_nova_fake = True
{% if enable_nova_fake | bool and ansible_hostname in groups['compute']%}
integration_bridge = br-int-{{ service_name }}
of_listen_port = {{ 6633 + service_name | int }}
{% endif %}
